<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Product List</title>
	</head>
	<body>
		<h1>New Product Page</h1>
		<form action="/products" method="POST">
			Name: <input type="text" name="name" /><br />
			Description: <input type="text" name="description" /><br />
            Price: <input type="number" name="price" /><br />
            Qty: <input type="number" name="qty" /><br />
			img: <input type="text" name="img" /><br />
			<input type="submit" name="" value="Add Product" />
		</form>
	</body>
	</body>
</html> 